package main

templ header(){
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <title>Another Brick</title>
    </head>
}

templ MainPage(){
    <!DOCTYPE html>
    <html>
        @header()
        <body>
            <h1>Init Page</h1>
        </body>
    </html>
}